%body
  = @employees.tablinate({border: "1", thead: {class: ["test", "test2"], tr: {class: "testing", th: { class: "testing again"}}}, tbody: {class: "thing", tr: {class: "thingy it", td: {class: "hello"}}}})
